<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
            <div>
                <div class="card">
                    <div class="card-header alert alert-success" *ngIf="emailConfirmed" role="alert">
                        Email Confirmed Successfully
                    </div>
                    <div class="card-body" *ngIf="emailConfirmed">
                        <p>Kindly Click This button to login</p>
                        <button class="btn btn-info rounded-0" [routerLink]="[ '/login']">Login Now</button>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger" *ngIf="!emailConfirmed" role="alert">
                Email has not been confirmed yet.
            </div>
        </div>
    </div>
</div>