<body>
    <br>
    <div class="container">
        <div class="card rounded-0">
            <div class="card">
                <div class="card-header text-center">IncomeExpense</div>
                <div class="card-body text-center">
                    <p>
                        Welcome to the IncomeExpense Application.Helps in Tracking and Managing your Monthly and yearly Finances(Income and Expenses)
                    </p>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-info rounded-0" (click)="register()">
                        SignUp
                    </button>
                    <button class="btn btn-warning rounded-0" style="margin-left: 5px;" (click)="login()">Login</button>
                </div>
                <div class="center reg" *ngIf="registerLoading">
                    <mat-spinner diameter="40" color="accent" style="margin: auto 0;"></mat-spinner>
                </div>
                <div class="center" *ngIf="loginLoading">
                    <mat-spinner diameter="40" color="#ffdc7d" style="margin: auto 0;"></mat-spinner>
                </div>
            </div>
        </div>
    </div>
</body>