img {
    vertical-align: middle;
    border-style: none;
    margin-left: 18px;
    border-radius: 40%;
    margin-top: -28px;
    border-color: #ffff;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    margin-top: -15px;
}

.router-link-active-expense {
    background-color: #e1e8ed;
}

.router-link-active-income {
    background-color: #e1e8ed;
}

.bg-light {
    background-color: #fff!important;
}