<nav class="navbar navbar-dark bg-dark p-2">
    <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
        <a class="navbar-brand" href="#" style="font-family: 'Times New Roman', Times, serif;">
            IncomeExpense
        </a>
        <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="col-12 col-md-4 col-lg-2">
        <input class="form-control form-control-dark rounded-0" type="text" placeholder="Search" aria-label="Search">
    </div>

    <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
        <div class="dropdown" dropdown>
            <span class="mr-1">
                <img src="" alt="" style="width:30px;border-radius:30px;">
            </span>
            <span class="dropdown-toggle" dropdownToggle style="cursor: pointer;color:#fff" *ngIf="(username$ |async ) as username">
              Welcome {{username | titlecase}}
            </span>

            <ul class=" dropdown-menu mt-3" *dropdownMenu>
                <li>
                    <a class="dropdown-item" [routerLink]="[ '/user-profile']" routerLinkActive="router-link-active"> <i class="fa fa-user"></i> Edit Profile</a>
                </li>
                <div class="dropdown-divider"></div>
                <li>
                    <a class="dropdown-item" [routerLink]="['/password-change']" routerLinkActive="router-link-active">
                        <i class="fas fa-unlock-alt"></i> Change password
                    </a>
                </li>

                <div class="dropdown-divider"></div>
                <li>
                    <a class="dropdown-item" (click)="loggedOut()" style="cursor: pointer;">
                        <i class="fa fa-power-off"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Main -->
<div class="container-fluid ">
    <div class="row">
        <nav id="sidebar " class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse ">
            <div class="position-sticky">
                <div class="row">
                    <div class="col-md-6">
                        <span class="logo">
                            <img src="../../../assets/images/profile/prof.png" width="85" alt="">
                        </span>
                    </div>
                </div>
                <ul class=" nav flex-column ">
                    <li class="nav-item ">
                        <a aria-current="page ">
                            <span class="ml-2 ">
                                <a class="nav-link " [routerLink]="[ '/expenses'] " routerLinkActive="router-link-active-expense" routerLinkActiveOptions="{exact:true} ">
                                    <i class="fa fa-tachometer-alt "></i> Dashboard
                                </a>
                            </span>
                        </a>
                    </li>
                    <!-- <li class="nav-item ">
                        <a>
                            <span class="ml-2 ">
                                <a class="nav-link " [routerLink]="[ '/expenses'] " routerLinkActive="router-link-active " >
                                    <i class="fas fa-money-check-alt "></i>   Expenses
                                </a>
                            </span>
                        </a>
                    </li> -->
                    <li class="nav-item ">
                        <a>
                            <span class="ml-2 ">
                                <a class="nav-link " [routerLink]="[ '/income'] " routerLinkActive="router-link-active-income">
                                    <i class="fas fa-money-bill "></i> Income
                                </a>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>