/* .register {
    background-color: #fff;
    margin-top: 100px;
} */

h2 {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #d9e1e8;
    background-size: cover;
    width: 100%;
    height: 100%;
}