<body>
    <app-nav-bar></app-nav-bar>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <nav aria-label="breadcrumb" class="">
                    <ol class="breadcrumb">
                        <button class="btn btn-primary btn-sm rounded-0" [routerLink]="['/expenses']" routerLinkActive="router-link-active">Go Back</button>
                    </ol>
                </nav>
                <section class="register">
                    <div class="container mt-5">
                        <div class="row d-flex justify-content-center ">
                            <div class="col-md-12">

                                <div class="card rounded-0" style="border-color:#128c7e">
                                    <div class="card-header">
                                        <h2 class="card-title text-center">Change your Password.</h2>
                                    </div>
                                    <div class="card-body">
                                        <form role="form" [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit()">
                                            <div class="row ">
                                                <div class="col-xs-6 col-sm-6 col-md-6 ">
                                                    <div class="form-group ">
                                                        <label for="password">Password</label>
                                                        <input type="password" class="form-control" formControlName="old_password" placeholder="Enter password" input-sm>
                                                        <span class="text-danger" *ngIf="error">{{error.error.old_password}}</span>
                                                        <div *ngIf="f.old_password.touched && f.old_password.invalid ">
                                                            <label *ngIf=" f.old_password.errors" class="text-danger">Password must be atleast 6 characters.</label>
                                                            <label *ngIf="f.old_password.errors && !f.old_password.errors" class="text-warning">
                                                                Password should contain atleast 6 characters
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 ">
                                                    <div class="form-group ">
                                                        <label for="password">Confirm Password</label>
                                                        <input type="password" class="form-control" formControlName="new_password" placeholder="new_password" input-sm>
                                                    </div>
                                                    <label *ngIf="f.new_password.touched && f.new_password.invalid" class="text-danger">
                                                        <div *ngIf="f.new_password.errors">Password is required.</div>
                                                    </label>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 ">
                                                    <div class="form-group ">
                                                        <label for="password">Confirm Password</label>
                                                        <input type="password" class="form-control" formControlName="password_confirm" placeholder="confirm_password" input-sm>
                                                    </div>
                                                    <label *ngIf="f.password_confirm.touched && f.password_confirm.invalid" class="text-danger">
                                                        <div *ngIf="f.password_confirm.errors">Password must match.</div>
                                                    </label>
                                                </div>
                                            </div>
                                            <button type="submit" [disabled]="!form.valid" class="btn btn-info btn-block rounded-0">
                                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Change Password
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

        </div>

    </div>
</body>