<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="row">
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/income']" routerLinkActive="router-link-active" style="color: #fff;">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" style="color: #fff;">Overview</li>
                </ol>
            </nav>

            <h2 class="h2" style="font-family: 'Times New Roman', Times, serif;">Revenues</h2>
            <button class="btn btn-info rounded-0" style="float:right;margin-top:-45px;" (click)="openModal(template)">
                <span><i class="fa fa-plus"></i></span>
                Add Income
            </button>
            <ng-template #template>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Add Your Income Revenue</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="addIncome()" [formGroup]="form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Amount</label>
                                    <input type="number" formControlName="amount" placeholder="Enter amount" class="form-control">
                                    <div *ngIf="f.amount.touched && f.amount.invalid">
                                        <label *ngIf=" f.amount.errors" class="text-danger">
                                            <small>
                                                 Amount is required
                                            </small>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Source</label>
                                    <select formControlName="source" class="form-control">
                                        <option value="SALARY">Salary</option>
                                        <option value="BUSINESS">Business</option>
                                        <option value="SIDE_HUSTLE">Side huste</option>
                                        <option value="OTHERS">Others</option>
                                    </select>
                                </div>
                                <div *ngIf="f.source.touched && f.source.invalid">
                                    <label *ngIf=" f.source.errors" class="text-danger">
                                        <small>
                                              Select a category
                                        </small>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for=" ">Date</label>
                                    <input type="date" formControlName="date" class="form-control" min="{{minDate}}">
                                </div>
                                <div *ngIf="f.date.touched && f.amount.invalid">
                                    <label *ngIf=" f.date.errors" class="text-danger">
                                        <small>
                                             Date is required
                                        </small>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for=" ">Description</label>
                                    <textarea rows="3" class="form-control" formControlName="description" placeholder="Expense description "></textarea>
                                    <div *ngIf="f.description.touched && f.description.invalid">
                                        <label *ngIf=" f.description.errors" class="text-danger">
                                            <small>
                                                 Description is required && must be should contain atleast 6 characters
                                            </small>
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group float-right">
                                    <button class="btn btn-info rounded-0" [disabled]="!form.valid">
                                        <span class="spinner-border spinner-border-sm mr-1" *ngIf="loading"></span>
                                        Submit Details
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>

            <hr>
            <p>Welcome to your Income and Expenditure overview for (Daily, Monthly and Annual).</p>
            <div class="row my-4">
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-blue order-card rounded-0">
                        <h4 class="card-header">Salary</h4>
                        <div class="card-block">
                            <h2 class="text-left">Salary: <span>
                                {{getTotolSalary()|currency}}
                            </span></h2>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-yellow order-card rounded-0">
                        <h4 class="card-header">Busines</h4>
                        <div class="card-block">
                            <h2 class="text-left">Business: <span>
                                {{getTotolBiz()|currency}}
                            </span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-green order-card rounded-0">
                        <h4 class="card-header">Side Hustle</h4>
                        <div class="card-block">
                            <h2 class="text-left">Side hustle:
                                <span>
                                {{getTotolSideHustle()|currency}}
                            </span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-pink order-card rounded-0">
                        <h4 class="card-header">Other Revenues</h4>
                        <div class="card-block">
                            <h2 class="text-left">Others:
                                <span>
                                {{getTotolOthers()|currency}}
                            </span></h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-lg-0">
                    <div class="card">
                        <h5 class="card-header">Revenue Sources</h5>
                        <div class="text-right mr-4">
                            <!-- <span class="pdf mr-2">
                                <button class="btn btn-info btn-sm rounded-0" >Export pdf</button>
                            </span> -->
                            <a class="excel" style="cursor:pointer" (click)="exportexcel()">
                                <button class="btn btn-warning btn-sm rounded-0">Export to Excel</button>
                            </a>
                        </div>
                        <div class="card-body" style="font-family:'Times New Roman', Times, serif;font-size:medium;">
                            <div class="table-responsive" *ngIf="incomeRevenue; else elseBlock">
                                <table class="table table-striped" id="excel-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Source</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of incomeRevenue | paginate: {itemsPerPage: 6, currentPage: p} ">
                                            <td>{{item.source | titlecase}}</td>
                                            <td>{{item.amount | currency}}</td>
                                            <td>{{item.date | date}}</td>
                                            <td>
                                                <button class="btn btn-info btn-sm rounded-0" [routerLink]="[ '/income-detail', item.id] " routerLinkActive="router-link-active ">
                                                    <i class="fa fa-eye " aria-hidden="true"></i>View 
                                                </button>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ng-template #elseBlock>
                                <div class="text-center">
                                    <p>No revenue available for now</p>
                                </div>
                            </ng-template>

                            <!-- <a href=" " class="btn btn-block btn-light ">View all</a> -->
                            <div class="d-flex justify-content-center mt-3 ">
                                <pagination-controls (pageChange)="p=$event" class="my-pagination"></pagination-controls>
                            </div>
                        </div>
                        <!-- <ng-template #elseBlock>
                            <div style="text-align: center;font: size 30px; ">
                                <p>No data available for now</p>
                            </div>
                        </ng-template> -->
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <h5 class="card-header">Income Summary Report</h5>
                        <div class="card-body">
                            <div class="chart-container">
                                <canvas id="myChart" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </main>
    </div>
</div>