<section class="register">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-xs-12 col-sm-8 col-md-5 col-sm-offset-2 col-md-offset-4">
                <div class="card rounded-0" style="border-color:#128c7e">
                    <div class="card-header">
                        <h2 class="card-title text-center">Reset your Password</h2>
                    </div>
                    <div class="card-body">
                        <form role="form" [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="username">Password</label>
                                        <input type="password" class="form-control" formControlName="password" placeholder="Enter password" input-sm>
                                        <div *ngIf="f.password.touched && f.password.invalid">
                                            <label *ngIf=" f.password.errors" class="text-danger">Password must be atleast 6 characters.</label>
                                            <label *ngIf="f.password.errors && !f.password.errors" class="text-warning">
                                                Password should contain atleast 6 characters
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 ">
                                    <div class="form-group ">
                                        <label for="username">Confirm Password</label>
                                        <input type="password" class="form-control" formControlName="password_confirm" placeholder="confirm_password" input-sm>
                                    </div>
                                    <label *ngIf="f.password_confirm.touched && f.password_confirm.invalid" class="text-danger">
                                        <div *ngIf="f.password_confirm.errors">Password must match.</div>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" [disabled]="!form.valid" class="btn btn-info btn-block rounded-0">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Register
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>